day6/test.txt
day6/test.py
day7/test.txt
day7/test2.txt
day8/test.txt
day8/test.py
day9/test.txt
day10/test.txt
day11/test.txt
day12/test.txt
day13/test.txt
day13/test.py
day14/test.txt
day15/test.txt
day15/day15.2.own.py
day16/test.txt
day16/test2.txt
day16/day16.2.bak.py
day17/test.txt
day18/test.txt
day19/test.txt
day19/day19.1.py
day20/test.txt
day21/test.txt
day22/test.txt
